body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--dark-gray);
}

.pokedex-outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 var(--xs) var(--xs) var(--black);
  align-items: center;
  height: min(670px, 95vh);
  width: min(400px, 95vw);
  border-radius: var(--md);
  padding: var(--s);
  background-color: var(--red);
  gap: var(--s);
}

.active-light {
  transition: 0.3s;
  filter: brightness(2.5);
}

.inactive-light {
  transition: 0.3s;
  filter: brightness(1);
}

.lower-zone {
  width: 90%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: var(--s);
  gap: var(--xs);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--xs);
}

form > * {
  width: 100%;
}

form > input {
  background-color: var(--blue);
  color: var(--black);
  border-radius: var(--s);
  border: var(--xs) solid var(--black);
  padding: 0;
}

form input[type="text"]:focus {
  outline: none;
}

form > button {
  background-color: var(--dark-red);
  padding: 0;
}

.buttons-zone {
  grid-column: 2;
  grid-row: 2 / span 3;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: grid;
  border-radius: 50%;
  padding: var(--md);
}

.buttons-zone > button {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  font-weight: bolder;
  width: 40px;
  aspect-ratio: 1 / 1;
  z-index: 2;
}

.color-strip {
  background-color: var(--dark-gray);
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: var(--md);
}

.row {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.col {
  grid-column: 2;
  grid-row: 1 / span 3;
}

.prev-button {
  grid-column: 1;
  grid-row: 2;
}

.next-button {
  grid-column: 3;
  grid-row: 2;
}

.up-button {
  grid-column: 2;
  grid-row: 1;
}

.down-button {
  grid-column: 2;
  grid-row: 3;
}

button {
  padding: var(--s);
  color: whitesmoke;
  background-color: var(--black);
  cursor: pointer;
  border-radius: var(--s);
  color: var(--light-gray);
}
