#root {
  --red: #d30b41;
  --dark-red: #93042a;
  --light-red: #e92838;
  --green: #71a94b;
  --yellow: #e8f166;
  --blue: #28e6ec;
  --black: #161716;
  --dark-gray: #a6a6a7;
  --light-gray: #e3e2e2;

  --xxs: 1px;
  --xs: 4px;
  --s: 8px;
  --md: 16px;
  --l: 24px;
  --xxl: 48px;
}

* {
  box-sizing: border-box;
  font-family: "Audiowide", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
}

.pokedex-outline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 var(--s) var(--s) var(--dark-red);
  align-items: center;
  height: 650px;
  width: min(370px, 90vw);
  border-radius: var(--md);
  padding: var(--md);
  background-color: var(--red);
  gap: var(--s);
}

.img-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  aspect-ratio: 4 / 3;
}

.img-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: var(--xs);
  border-bottom-left-radius: var(--l);
  background-color: var(--dark-gray);
  padding: var(--s);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  aspect-ratio: 4 / 3;
  background-color: var(--light-gray);
  border-radius: var(--s);
  border: var(--xs) solid var(--black);
}

img {
  object-fit: contain;
  height: auto;
  width: 70%;
  background-color: var(--light-gray);
  filter: saturate(80%);
}

.pkm-name {
  color: var(--black);
  width: 100%;
  margin: var(--s) 0;
  padding: var(--s) 0;
  border-radius: var(--s);
  text-align: center;
}

.img-decoration {
  margin: var(--xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  font-size: xx-large;
}

.img-decoration.top {
  justify-content: center;
}

.img-decoration > .light {
  background-color: var(--dark-red);
  margin: 0 var(--xxs);
  border: var(--xs) solid var(--black);
}

.img-decoration.top > .light {
  height: var(--s);
  width: var(--s);
  border: none;
  margin: 0 var(--s);
  border: var(--xxs) solid var(--black);
}

.lower-zone {
  width: 90%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: var(--s);
}

.search-zone {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--xs);
}

form > input {
  background-color: var(--blue);
  color: var(--black);
  width: 100%;
  grid-column: 2;
}

form > button {
  grid-row: 1;
  grid-column: 1;
  background-color: var(--dark-red);
}

.description-zone {
  grid-column: 1;
  grid-row: 2 / span 4;
  height: 150px;
  width: 100%;
  overflow-y: scroll;
  background-color: var(--green);
  padding: var(--md);
  border-radius: var(--s);
  border: var(--xs) solid var(--black);
  word-wrap: break-word;
}

.info-slide {
  display: "none";
}

.buttons-zone {
  grid-column: 2;
  grid-row: 2 / span 3;
  justify-content: center;
  align-items: center;
  display: grid;
  background-color: var(--dark-red);
  border-radius: 50%;
  padding: var(--md);
}

.buttons-zone > button {
  width: 40px;
  aspect-ratio: 1 / 1;
}

.prev-button {
  grid-column: 1;
  grid-row: 2;
}

.next-button {
  grid-column: 3;
  grid-row: 2;
}

.up-button {
  grid-column: 2;
  grid-row: 1;
}

.down-button {
  grid-column: 2;
  grid-row: 3;
}

button {
  padding: var(--s);
  color: whitesmoke;
  background-color: var(--black);
  cursor: pointer;
  border-radius: var(--s);
  color: var(--light-gray);
}

.lights-zone {
  width: 90%;
  display: grid;
  justify-content: start;
  align-items: start;
  align-items: center;
  gap: var(--s);
  padding: var(--s);
  border-bottom: var(--xs) solid var(--dark-red);
}

.light {
  height: var(--l);
  width: var(--l);
  border-radius: 50%;
  display: inline-block;
  border: var(--xs) solid var(--light-gray);
}

.lights-zone > .light:nth-child(1) {
  height: var(--xxl);
  width: var(--xxl);
  background-color: var(--blue);
  grid-row: 1 / span 2;
}

.lights-zone > .light:nth-child(2) {
  background-color: var(--dark-red);
  grid-column: 2;
}

.lights-zone > .light:nth-child(3) {
  background-color: var(--yellow);
  grid-column: 3;
}

.lights-zone > .light:nth-child(4) {
  background-color: var(--green);
  grid-column: 4;
}
